<div class="static  w-screen h-screen space-y-8 flex flex-col justify-center text-center items-center md:bg-cover no-repeat" style="background-image: url('../assets/bg/night-bg.jpg');">
 <div class=" bg-white opacity-75 w-[300px] h-[580px] max-h-[800px] md:w-[560px] md:h-[600px] rounded-md pb-8 md:pb-6 lg:pb-4">
  <div class="pt-10 md:pt-16 lg:pt-20">
    <div>
      <h1 class="text-2xl">
        Local Cast Weather
      </h1>
    </div>
    <div><span class="text-xl">
      Your City, Your Forecast right now!
    </span></div>
   <div>
    <h2 class="text-2xl">Current Weather</h2>
   </div>
  </div>
 </div>
  <div class="absolute top-[250px] md:top-[400px] lg:top-[180px]">
    <app-current-weather></app-current-weather>
  </div>
</div>
